<%- model_class = Building -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @building.address %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:number) %>:</strong></dt>
  <dd><%= @building.number %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @building.description %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:territory_id) %>:</strong></dt>
  <dd><strong><%= @building.territory %></dd>
  
  <dt><strong><%= t 'view.apartments'%></strong></dt>
  <dd><%= @building.apartments.length %> <%= link_to t('helpers.links.filter'), building_path(@building,{filter: nil}) %></dd>
  
  <dt><strong><%= t 'view.visited'%></strong></dt>
  <dd><%= @building.apartments.visited.length %> <%= link_to t('helpers.links.filter'), building_path(@building,{filter: :visited}) %></dd>
  
  <dt><strong><%= t 'view.unvisited'%></strong></dt>
  <dd><%= @building.apartments.unvisited.length %> <%= link_to t('helpers.links.filter'), building_path(@building,{filter: :unvisited}) %></dd>  
  
  <dt><strong><%= t 'view.to_revisit'%></strong></dt>
  <dd><%= @building.apartments.to_revisit.length %> <%= link_to t('helpers.links.filter'), building_path(@building,{filter: :to_revisit}) %></dd>  
  
  <dt><strong><%= t 'view.coverage'%></strong></dt>
  <dd>
    <%= render partial: 'coverage', locals: { building: @building } %>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              buildings_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_building_path(@building), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              building_path(@building),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<%= render template: "apartments/index" %>
