<table>
  <tr>
    <th>Number</th>
    <th>Owner</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Last Visited</th>
    <th>Notes?</th>
    <th colspan="3"><%= link_to 'Add apartment', new_building_apartment_path(@building) %></th>
  </tr>

<% apartments.each do |apartment| %>
  <tr>
    <td><%= apartment.number %></td>
    <td><%= apartment.owner %></td>
    <td><%= apartment.phone %></td>
    <td><%= apartment.email %></td>
    <td><%= apartment.last_visited %></td>
    <td><%= apartment.notes %></td>
    <td><%= link_to 'Show',[@building,apartment] %></td>
    <td><%= link_to 'Edit', edit_building_apartment_path(@building, apartment) %></td>
    <td><%= link_to 'Destroy', [@building,apartment], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
