<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @apartment.address %>
</p>

<p>
  <b>Number:</b>
  <%= @apartment.number %>
</p>

<p>
  <b>Description:</b>
  <%= @apartment.description %>
</p>

<p>
  <b>Territory:</b>
  <%= @apartment.territory %>
</p>


<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
